library(rtweet)
library(tidyverse)
library(gsubfn)
library(quanteda)
library(quanteda.textplots)
library(arules)
library(lubridate)
library(patchwork)
library(ggrepel)
library(caret)
library(mgcv)
library(dplyr)
